extends ../layout

block content
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
    .container.px-4.px-lg-5
        h1 Modificar Bicileta
        .mb-3.row
            form.row.g-3(action=`/bicicletas/${bici.id}/update` method='post')
                .mb-3.row
                    .col-sm-1
                        label.col-sm-2.col-form-label(for='id') Id
                    .col-sm-2
                        input#id.form-control(type='text' name='id' value=bici.id)
                .mb-3.row
                    .col-sm-1
                        label.col-sm-2.col-form-label(for='id') Color
                    .col-sm-2
                        input#color.form-control(type='text' name='color' value=bici.color)
                .mb-3.row
                    .col-sm-1
                        label.col-sm-2.col-form-label(for='id') Modelo
                    .col-sm-2
                        input#modelo.form-control(type='text' name='modelo' value=bici.modelo)
                .mb-3.row
                    .col-sm-1
                        label.col-sm-2.col-form-label(for='id') Latitud
                    .col-sm-2
                        input#lat.form-control(type='text' name='lat' value=bici.ubicacion[0])
                .mb-3.row
                    .col-sm-1
                        label.col-sm-2.col-form-label(for='id') Longitud
                    .col-sm-2
                        input#lng.form-control(type='text' name='lng' value=bici.ubicacion[1])
                .mb-3.row
                    .col-sm-4
                        a.btn.btn-primary.mb-3(type='submit') Actualizar Bicicleta
                    .col-sm-5
                        a.btn.btn-secondary.mb-3(href='/bicicletas') Volver
                        
